/* Base */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(102,102,102);
}

.nav-bg {
  background-image: linear-gradient(49deg, #7d64ab, #40bdb4 62%, #58c0ee);
  padding-bottom: 0;
  min-height: 80px;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-inverse .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.navbar-inverse .navbar-nav .nav-link {
  color: #fff;
}

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
  color: #fff;
}

.nav-logo {
  height: 40px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

.nav-link {
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-link:hover, .nav-link:active {
  text-decoration: underline;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.over {
  overflow: hidden;
}

.ticket-nav {
  display: table;
  width: 138px;
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 2px #4927d8;
}

.get-tickets {
  display: table-cell;
  vertical-align: middle;
  color: #4927d8;
  width: 100%;
  height: 34px;
  font-family: 'Satisfy', cursive;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.ticket-nav:hover, .ticket-nav:hover a {
  text-decoration: underline;
  background: #4927d8;
  color: #fff;
}

.rectangle {
  min-height: 665px;
  background-image: linear-gradient(49deg, #7d64ab, #40bdb4 62%, #58c0ee);
}
.container{
  height: auto;
}

.footer {
  height: auto;
  bottom: 0;
  background-color: rgb(0, 191, 165);
  margin-top: 1%;
  padding: 1% 0 1% 0;
  color: white;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.partner-sponsor{
  height: 75px;
  width:auto;
}

.sponsor-title{
  padding-top: 3%;
  padding-bottom: 1%
}

.kapor-margin{
  margin-top: 3%;
}

/* Homepage */
.background-img {
  width: 100%;
  height: 665px;
  background-image: linear-gradient(49deg, #7d64ab, #40bdb4 62%, #58c0ee);
}

.homepage-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 748px;
  height: 352px;
  object-fit: contain;
}

.img-transparent {
  height: 250px;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.logo-format{
  padding: 5% 5% 1% 5%;
}

.center-text{
  text-align: center;
}

h1 {
  font-family: 'Satisfy', cursive;
  color: black;
}

#title {
  font-family: Satisfy;
  font-size: 54px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  color: #4927d8;
}

.fancy-font-header{
  font-family: Satisfy;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  color: #4927d8;
}

.fancy-font {
  font-family: Satisfy;
}

.container-text {
  padding-left: 10%;
  padding-right: 10%;
}

.blue-banner{
  background: rgb(79,195,247);
  margin:0;
  padding: 1%;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .homepage-card {
    width: 70%;
    margin-left: 15%;
    opacity: .8;
  }
}

.homepage-card{
  margin-bottom: 2%;
}

#tlemail{
  margin-right: 1%;
}


.speakers {
  align-self: center;
  width: 100%;
  background-image: linear-gradient(331deg, #00bfa5, #1ce9b6);
}

.homepage-pop{
  color: rgb(0,191,165);
}

.random-speaker{
  height: 200px;
}

.padding-top{
  padding-top: 3%;
}

.padding-bmt {
  padding-bottom: 1%;
}

iframe {
  height: -webkit-fill-available;
  width: inherit;
}

/* Speaker CSS */
.support-card{
  margin-top: 5%;
  margin-bottom: 1%;
}

.card-deck {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
}

.card-deck .card {
  display: block;
  flex-basis: 33.3%; /* change this value for each breakpoint*/
}

.card-pad{
  padding-top: 1%;
}

.link-card-pad{
  padding-top: 4%;
}

button{
  background: rgb(28, 233,182);
}

.speaker-background{
  background-image: url("/schedule.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 5%;
}

.speaker-card{
  border-color: #4927d8;
  background-color: rgba(128,0,128,0.1);
}

h1#speakersHeadingWhite {
    color: white;
}

.speaker-photo{
  height: auto;
  width: 100%;
}

.speaker-modal {
  width: 40%;
  align-self: center;
}

.page-space{
  height: 10px;
  padding: 10%;
}

.subheadings {
  padding-left: 12%;
  padding-top: 1%;
}

/* Schedule CSS */
.schedule-background{
  background-image: url("/static/imgs/assests/audience.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 5%;
  background-position-y: center;
}

.schedule-session{
  border-radius: 20px;
  border: 1.75px solid #DBF3FD;
  color:black;
  font-size: 1.05rem;
  /*padding-bottom: .5%;*/
}

.btn-offset{
  margin-left: 11%;
}

.grey-banner{
  background-color: #f5f5f5;
}

.dark-blue {
  background-color: rgba(66,133,244,.8);
}

.blue{
  background-color: rgb(79,195,247);
}

.blue-op{
  background: rgba(79,195,247,0.4);
  padding: 10% 0 10% 0;
}

.green {
  background-color: rgb(28,233,182);
}

.green-op {
  background: rgba(28,233,182,0.4);
  padding: 10% 0 10% 0;
}

.dark-green{
  background-color: rgb(0,191,165);
}

.yellow{
  background-color: #FFFFB2;
}

.session-title{
  font-weight: bold;
  padding-right: 1%;
  padding-left: 1%;
}


.session-speaker{
  font-size: 80%
}

.btn-sm{
  margin-bottom: 1%;
  margin-top: 1%;
}

.padding-b{
  padding-top: 1%;
}

.row-padding{
  margin-bottom: 0.75%;
}

.schedule-title{
  font-weight: bold;
}

.schedule-background h1{
  color:white;
}

.fa-calendar-plus-o:before{
  color: white;
}

/* Community */
.background-img-community {
  background-image: url("https://images.pexels.com/photos/672916/pexels-photo-672916.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 5%
}

.community-pull-down{
  margin-top: 2%;
}

/* Talks */

.talk-background{
  background-image: url("/static/imgs/assests/action.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 20%;
  color: white;
}

h1#talkHeadingWhite {
    color: white;
}

.smaller-font{
  font-size: 75%;
}

@media screen and (min-width: 480px) {
  .talk-background {
    padding-bottom: 5%;
  }
}

.link-space{
  height: 200px;
}

/* Organizers */
.modal-content{
  color: rgb(102,102,102);
}

/* FAQ*/


.faq-background{
  background-image: url("https://i0.wp.com/picjumbo.com/wp-content/uploads/DSC03065.jpg?resize=1570,1047&quality=50");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 5%
}

.link-padding{
  padding-top: 5%;
}

.faq-case{
  border-radius: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.bold{
  font-weight: bold;
}

/* footer */
.footer-color a{
  color: #e6e6e6;
}

/* Filtering Classes */

.schedule-session-highlight{
  background-color: rgba(255,162,127,0.4)
}

.talk-hidden{
  display: none;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#topBtn:hover {
  background-color: rgb(28, 233,182);
}

/* Font Colors */
.white{
  color: white;
}