<!doctype html>
<html>
    <head>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
      <title>IWD</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
      <script src="https://use.fontawesome.com/a0472c1a10.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/css/styling.css">
      <!-- social media sharing -->
      <meta property="og:image" content="https://watchful-force-155207.appspot.com/logo.png" />
      <meta property="og:description" content="Come learn from amazing women and non-binary folks in tech, be inspired, and connect with others. The event will be in brilliant San Fransisco." />
      <meta property="og:url"content="https://watchful-force-155207.appspot.com/" />
      <meta property="og:title" content="IWD 2018 Celebrating Women in Tech" />
    {% block head %}  {% endblock %}
    </head>

<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded sticky-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <img src="static/imgs/assests/iwd-header-logo.png" alt="international women's day logo" class="nav-logo">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://bit.ly/iwd17-speakercall">Call for Speakers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="/show/sponsorship-pdf/">Sponsorship Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/community">Community Guidelines</a>
      </li>
<!--       <li class="nav-item">
        <a class="nav-link" href="#">Sponsor</a>
      </li> -->
    </ul>
  </div>
</nav>

  {% block content %}  {% endblock %}

  <div></div>
  <div class="container">
    <div class="row center-text">
      <h4>
        Powered by:
      </h4>
    </div>
    <div class="row">
      <a href="https://www.meetup.com/google-developer-group-san-francisco/">
        <img src="/static/imgs/sponors/gdg-logo.png" class="img-fluid img-responsive sponsor-img img-thumbnail" alt="Responsive image">
      </a>
    </div>
  </div>

  <!-- Footer -->
  <div class="container-fluid footer center footer-padding center-block">
    <!-- When Contact Us & About Us page is create, uncomment below -->
<!--     <div class="row justify-content-md-center center-text">
      <div class="col-md-2">
        Contact Us
      </div>
      <div class="col-md-2">
        About Us
      </div>
    </div> -->
    <div class="row justify-content-md-center">
      <div class="col-md-3 center-text">
        <a href="https://www.facebook.com/GDG-San-Francisco-255765098278407/">
          <i class="fa fa-facebook-f"></i></a>&nbsp;
        <a href="https://twitter.com/sf_gdg">
          <i class="fa fa-twitter"></i></a>&nbsp;
        <a href="https://www.linkedin.com/company/gdg-san-francisco/">
          <i class="fa fa-linkedin"></i></a>&nbsp;
        <a href="https://plus.google.com/u/0/101175849082211460775">
          <i class="fa fa-google-plus"></i></a>
      </div>
  </div>

</body>
</html>