<!doctype html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <title>IWD</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/a0472c1a10.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/styling.css">
        <!-- social media sharing -->
        <meta property="og:image" content="https://www.iwd-sf.org/logo.png" />
        <meta property="og:description" content="Come learn from amazing women and non-binary folks in tech, be inspired, and connect with others. The event will be in brilliant San Fransisco." />
        <meta property="og:url"content="https://www.iwd-sf.org" />
        <meta property="og:title" content="IWD 2018 Celebrating Women in Tech" />
        {% block head %}  {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-toggleable-md navbar-default navbar-inverse navbar-expand sticky-top nav-bg">
                <a class="navbar-brand" href="/">
                    <img src="static/imgs/assests/iwd-logo.svg" alt="international women's day logo" class="nav-logo">
                </a>
            <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                         <a class="nav-link text-center" href="/2018">2018</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link text-center" href="/schedule">SCHEDULE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="/speakers">SPEAKERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="/talks">TALKS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" target="_blank" href="/show/sponsorship-pdf/">BECOME A SPONSOR</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/community">CODE OF CONDUCT</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="/faq">FAQS</a>
                    </li>
                    <!-- <li class="nav-item">
                        <div class="mx-auto ticket-nav">
                            <a class="get-tickets" href="https://www.eventbrite.com/e/iwd-celebrating-women-in-tech-tickets-42215850746">Tix Sold Out!</a>
                        </div>
                    </li> -->
                </ul>
            </div>
        </nav>

        {% block content %}  {% endblock %}

        <div class="container text-darker padding-top">
            <div class="row center-text">
                <div class="col-md-4">
                    <h4>
                        Powered by:
                    </h4>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <!-- Platinum -->
                <div class="col-xs-12 col-md-4 center">
                    <a href="https://www.meetup.com/google-developer-group-san-francisco/">
                        <img src="/static/imgs/sponsor/gdg-logo.png" class="img-fluid img-responsive" alt="San Francisco Google Developer Group">
                    </a>
                </div>
                <div class="col-xs-12 col-md-4 center">
                    <a href="https://developers.google.com/">
                        <img src="/static/imgs/sponsor/google-logo.png" class="img-fluid img-responsive" alt="Google Developer Group">
                    </a>
                </div>
                <div class="col-xs-12 col-md-6 center">
                    <a href="https://www.womentechmakers.com/">
                        <img src="/static/imgs/sponsor/WT_logo_horizontal_pos.png" class="img-fluid img-responsive" alt="Women Techmakers Logo">
                    </a>
                </div>
            </div>

            <!-- Silver -->
            <div class="row justify-content-md-center">
                <div class="col center-text">
                    <h5 class="sponsor-title">
                        Silver Sponsor
                    </h5>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-7 col-md-3 center">
                    <a href="https://www.clover.com/">
                        <img src="/static/imgs/sponsor/clover.png" class="img-fluid img-responsive" alt="Clover logo">
                    </a>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-6 col-md-3 center">
                    <a href="https://www.yelp.com/">
                        <img src="/static/imgs/sponsor/yelp.png" class="img-fluid img-responsive" alt="Yelp logo">
                    </a>
                </div>
            </div>

            <!-- Partner -->
            <div class="row justify-content-md-center">
                <div class="col center-text">
                    <h5 class="sponsor-title">
                        Partner Sponsor
                    </h5>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-5 col-md-2 center kapor-margin">
                    <a href="https://www.kaporcenter.org/">
                        <img src="/static/imgs/sponsor/kapor-center.png" class="img-fluid img-responsive" alt="Kapor Center logo">
                    </a>
                </div>
                <div class="col-5 col-md-2 center">
                    <a href="https://www.carbonfive.com/">
                        <img src="static/imgs/sponsor/carbon-five.png" class="img-fluid img-responsive" alt="Carbon Five logo">
                    </a>
                </div>
                <div class="col-5 col-md-2 center">
                    <a href="https://www.twilio.com/">
                        <img src="/static/imgs/sponsor/twilio.png" class="img-fluid img-responsive" alt="Twilio logo">
                    </a>
                </div>
                <div class="col-5 col-md-2 center">
                    <a href="https://www.maven.com">
                        <img src="/static/imgs/sponsor/maven.png" class="img-fluid img-responsive" alt="Maven logo">
                    </a>
                </div>
            </div>

            <!-- Local -->
            <div class="row justify-content-md-center">
                <div class="col center-text">
                    <h5 class="sponsor-title">
                        Local Sponsor
                    </h5>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-3 col-md-2 center">
                    <a href="https://www.jetbrains.com/">
                        <img src="/static/imgs/sponsor/jetbrains.png" class="img-fluid img-responsive partner-sponsor" alt="Jetbrains logo">
                    </a>
                </div>
                <div class="col-3 col-md-2 center">
                    <a href="https://www.interviewcake.com/">
                        <img src="/static/imgs/sponsor/interview_cake_logo.png" class="img-fluid img-responsive" alt="Interview Cake logo">
                    </a>
                </div>
                <div class="col-3 col-md-2 center">
                    <a href="https://www.godaddy.com/">
                        <img src="/static/imgs/sponsor/GoDaddy_Wordmark_RGB_B.png" class="img-fluid img-responsive" alt="Go Daddy logo">
                    </a>
                </div>
                <div class="col-3 col-md-2 center">
                    <a href="https://balsamiq.com/">
                        <img src="/static/imgs/sponsor/balsamiq.png " class="img-fluid img-responsive" alt="Girl Develope It logo">
                    </a>
                </div>
                <div class="col-3 col-md-2 center">
                    <a href="http://www.vanbex.com/">
                        <img src="/static/imgs/sponsor/vanbex_logo_a.png" class="img-fluid img-responsive" alt="Vanbex's logo">
                    </a>
                </div>
            </div>
            <!-- Community -->
            <div class="row justify-content-md-center">
                <div class="col center-text">
                    <h5 class="sponsor-title">
                        Community Sponsor
                    </h5>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-3 col-md-2 center">
                    <a href="https://girlswhocode.com/">
                        <img src="/static/imgs/sponsor/gwc.png" class="img-fluid img-responsive partner-sponsor" alt="Girls Who Code logo">
                    </a>
                </div>
                <div class="col-3 col-md-2 center">
                    <a href="http://www.bytes4bits.org/">
                        <img src="/static/imgs/sponsor/bytes-for-bits.png" class="img-fluid img-responsive" alt="Bytes for Bits logo">
                    </a>
                </div>
                <div class="col-3 col-md-2 center">
                    <a href="https://www.girldevelopit.com/chapters/san-francisco">
                        <img src="/static/imgs/sponsor/gdi.png " class="img-fluid img-responsive" alt="Girl Develop It logo">
                    </a>
                </div>
                <div class="col-3 col-md-2 center">
                    <a href="https://www.girldevelopit.com/chapters/san-francisco">
                        <img src="/static/imgs/sponsor/johnny-doughnuts-logo.png" class="img-fluid img-responsive" alt="Johnny Doughnut's logo">
                    </a>
                </div>
                <div class="col-3 col-md-2 center">
                    <a href="https://www.equatorcoffees.com/">
                        <img src="/static/imgs/sponsor/equator-coffees-teas-logo.jpg " class="img-fluid img-responsive" alt="Equator Coffees & Tea's logo">
                    </a>
                </div>
            </div>

        </div>

        <!-- Footer -->
        <div class="container-fluid footer center footer-padding center-block nav-bg" >
            <div class="row justify-content-md-center center-text">
                <div class="col-md-2">
                    <a href="mailto:san.francisco.gdg@gmail.com" class="white">
                        Contact Us
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="/organizers" class="white">
                        About Us
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="/faq" class="white">
                        FAQs
                    </a>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-3 center-text">
                    <a href="https://www.facebook.com/GDG-San-Francisco-255765098278407/" class="white">
                        <i class="fa fa-facebook-f"></i></a>&nbsp;
                    <a href="https://twitter.com/sf_gdg" class="white">
                        <i class="fa fa-twitter"></i></a>&nbsp;
                    <a href="https://www.linkedin.com/company/gdg-san-francisco/" class="white">
                        <i class="fa fa-linkedin"></i></a>&nbsp;
                    <a href="https://plus.google.com/u/0/101175849082211460775" class="white">
                        <i class="fa fa-google-plus" class="white"></i></a>
                </div>
            </div>

    </body>
</html>
