{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block content %}


<div>
  <div class="row center">
    <h1 class="center subheadings">
      Frequently Asked Questions
    </h1>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col">
        <h3>
          Registration
        </h3>
          <ul>
            <a href="#reg-1"><li>
              What's the program for IWD?
            </li></a>
            <a href="#reg-2"><li>
              I cannot afford the cost, are there scholarships?
            </li></a>
            <a href="#reg-3"><li>
              Where do we park ?
            </li></a>
            <a href="#reg-4"><li>
              Where is the conference located?
            </li></a>
            <a href="#reg-5"><li>
              What is the tickets price?
            </li></a>
          </ul>
        <h3>
          Sponsors
        </h3>
          <ul>
            <a href="#spon-1"><li>
              How can my company become a sponsor?
            </li></a>
          </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <a name="reg-1" class="link-padding">&nbsp;</a>
          <h4>
            What's the program for PyBay?
          </h4>
          <p>
            We're still working on creating the best program possible, but here's what it looks like so far:
          </p>
          <p>
            Registration is from 8:30am - 9:30am. We'll have three tracks with talks starting at the top of every hour. 
          </p>
          <p>
            Due to our venue, we are limited to 200 people.
          </p>
        <a name="reg-2" class="link-padding">&nbsp;</a>
          <h4>
            I cannot afford the cost, are there scholarships?
          </h4>
          <p>
            Unfortunately we do not currently offer scholarships. But we will release day-of volunteer opportunities where you can be part of set up, lunch or break down teams. Day-of volunteers receive a free ticket. 
          </p>
        <a name="spon-1" class="link-padding">&nbsp;</a>
          <h4>
            How can my company become a sponsor?
          </h4>
          <p>
            We have a <a href="/show/sponsorship-pdf/">Sponsorship Doc</a> that list out our Sponsorship information.
          </p>
          <p>
            Contact us at gdg.san.francisco@gmail.com
          </p>
      </div>
    </div>
  </div>
  


  <div class="container">
    <div class="row">
    </div>
  </div>









{% endblock %}