{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block content %}


<div class="blue">
    <div >
      <h1 class="center subheadings">
        Frequently Asked Questions
      </h1>
    </div>
  </div>
</div>

  <div class="container grey-banner faq-case">
    <div class="row">
      <div class="col">
        <h3>
          Registration
        </h3>
          <ul>
            <a href="#reg-1"><li>
              What's the program for IWD?
            </li></a>
            <a href="#reg-6"><li>
              Who is attending, how many people are attending?
            </li></a>
            <a href="#reg-2"><li>
              I cannot afford the cost, are there scholarships?
            </li></a>
            <a href="#reg-3"><li>
              Where do we park?
            </li></a>
            <a href="#reg-4"><li>
              Where is the conference located?
            </li></a>
            <a href="#reg-5"><li>
              What is the ticket price?
            </li></a>
          </ul>
        </div>
      </div>
    </div>
  <div class="container green faq-case">
    <div class="row">
      <div class="col">
        <h3>
          Sponsors
        </h3>
          <ul>
            <a href="#spon-1"><li>
              How can my company become a sponsor?
            </li></a>
          </ul>
      </div>
    </div>
  </div>

  <div class="container grey-banner faq-case">
    <div class="row">
      <div class="col">
        <a name="reg-1" class="link-padding">&nbsp;</a>
          <h4>
            What's the program for IWD?
          </h4>
          <p>
            We're still working on creating the best program possible, but here's what it looks like so far:
          </p>
          <p>
            Registration is from 8:30am - 9:30am. We'll have three tracks with talks starting at the top of every hour. The ticket includes a light breakfast, lunch, shirt, swag and access to amazing speakers and other attendees.
          </p>
        <a name="reg-2" class="link-padding">&nbsp;</a>
          <h4>
            I cannot afford the cost, are there scholarships?
          </h4>
          <p>
            Unfortunately we do not currently offer scholarships. But we will release day-of volunteer opportunities where you can be part of set up, lunch or break down teams. Day-of volunteers receive a free ticket and will be announced shortly. 
          </p>
        <a name="reg-3" class="link-padding">&nbsp;</a>
          <h4>
            Where do we park?
          </h4>
          <p>
            We encourage our participates to use public transit due to limited parking and construction. You can find all close parking centers <a href="https://www.google.com/maps/search/parking/@37.7895397,-122.3964808,17z/data=!3m1!4b1!4m8!2m7!3m6!1sparking!2sGoogle+Developers+Launchpad+Space,+301+Howard+Street,+4th+Floor,+San+Francisco,+CA+94105!3s0x80858064ca640bff:0x62dbb47f3f70c5a6!4m2!1d-122.394276!2d37.789527?hl=en-US" target="_blank">here</a>.  
          </p>
        <a name="reg-4" class="link-padding">&nbsp;</a>
          <h4>
            Where is the conference located?
          </h4>
          <p>
            <a href="https://www.google.com/maps?q=google+launchpad&um=1&ie=UTF-8&sa=X&ved=0ahUKEwjfm5-DmsDYAhUX4mMKHRBBDM4Q_AUICygC">Google Launch Pad </a><br>
            301 Howard St, 4th floor <br>
            San Francisco, CA 94105
          </p>
        <a name="reg-5" class="link-padding">&nbsp;</a>
          <h4>
            What is the ticket price?
          </h4>
          <p>
            Tickets have not been released yet. We are looking between the $25 - $75 range depending on sponsorship funding.
          </p>
        <a name="reg-6" class="link-padding">&nbsp;</a>
          <h4>
            Who is attending, how many people are attending?
          </h4>
          <p>
            Developers, Product Managers, People in Sales, Finance, Operations and tech enthusiasts who are powered by a shared belief that when we come together to exchange ideas amazing things can happen. Due to our venue, we are limited to 200 attendees. 
          </p>
        </div>
      </div>
    </div>

<!-- SPONSORS -->
<div class="container green faq-case">
    <div class="row">
      <div class="col">

        <a name="spon-1" class="link-padding">&nbsp;</a>
          <h4>
            How can my company become a sponsor?
          </h4>
          <p>
            We have a <a href="/show/sponsorship-pdf/">Sponsorship Doc</a> that list out our Sponsorship information. Contact us at gdg.san.francisco@gmail.com
          </p>
      </div>
    </div>
  </div>
  


  <div class="container">
    <div class="row">
    </div>
  </div>









{% endblock %}