{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block content %}


<div class="blue">
    <div >
      <h1 class="center subheadings">
        Frequently Asked Questions
      </h1>
    </div>
  </div>
</div>

  <div class="container grey-banner faq-case">
    <div class="row">
      <div class="col">
        <h3>
          Registration
        </h3>
          <ul>
            <a href="#reg-1"><li>
              What's the program for IWD?
            </li></a>
            <a href="#reg-6"><li>
              Who is attending, how many people are attending?
            </li></a>
            <a href="#reg-2"><li>
              I cannot afford the cost, are there scholarships?
            </li></a>
            <a href="#reg-3"><li>
              Where do we park?
            </li></a>
            <a href="#reg-4"><li>
              Where is the conference located?
            </li></a>
            <a href="#reg-5"><li>
              What is the ticket price?
            </li></a>
            <a href="#reg-7"><li>
              What is a Day-of Volunteer?
            </li></a>
            <a href="#reg-8"><li>
              How can I stay connected? How can I share this event to others?
            </li></a>
            <a href="#reg-9"><li>
              What is the refund policy?
            </li></a>
            <a href="#reg-10"><li>
              Will there be a mother's room?
            </li></a>
          </ul>
      </div>
    </div>
  </div>
<div class="container green faq-case">
  <div class="row">
    <div class="col">
      <h3>
        Youth
      </h3>
        <ul>
            <a href="#youth-0"><li>
              How can I get a ticket for my Middle or High School child?
            </li></a>
            <a href="#youth-1"><li>
              How much a youth tickets? How many youth ticket are available? 
            </li></a>
            <a href="#youth-2"><li>
              Can I drop off my child for the youth track?
            </li></a>
            <a href="#youth-3"><li>
              Where is the Youth permission form?
            </li></a>
            <a href="#youth-4"><li>
              How many youth tickets are there?
            </li></a>
            <a href="#youth-5"><li>
              What is the youth curriculum? 
            </li></a>
          </ul>
        </div>
      </div>
    </div>
  <div class="container blue faq-case">
    <div class="row">
      <div class="col">
        <h3>
          Sponsors
        </h3>
          <ul>
            <a href="#spon-1"><li>
              How can my company become a sponsor?
            </li></a>
          </ul>
      </div>
    </div>
  </div>

  <div class="container grey-banner faq-case">
    <div class="row">
      <div class="col">
        <a name="reg-1" class="link-padding">&nbsp;</a>
          <h4>
            What's the program for IWD?
          </h4>
          <p>
            We're still working on creating the best program possible, but here's what it looks like so far:
          </p>
          <p>
            Registration is from 8:30am - 9:30am. We'll have three tracks with <a href="/talks">talks</a> starting at the top of every hour. Lunch is planned at 1pm. The ticket includes a light breakfast, lunch, shirt, swag and access to amazing speakers and other attendees. Find the current list of speakers <a href="/speakers">here</a>. Full schedule <a href="/schedule">here</a>. 
          </p>
        <a name="reg-2" class="link-padding">&nbsp;</a>
          <h4>
            I cannot afford the cost, are there scholarships?
          </h4>
          <p>
            We are providing full scholarships with <a href="https://www.womenwhocode.com/partner/events" target="_blank">Women Who Code</a>, apply <a href="https://docs.google.com/forms/d/e/1FAIpQLSdGpIwotqEABbJGoRHY9bVviacATdguWVCHjighhWcvXJuSNQ/viewform" target="_blank">here</a>.
          </p>
        <a name="reg-3" class="link-padding">&nbsp;</a>
          <h4>
            Where do we park?
          </h4>
          <p>
            We encourage our participates to use public transit due to limited parking and construction. Below are a few suggestions:<br>
            <ul>
              <li>
                <a href="https://www.parkme.com/lot/28093/hills-plaza-san-francisco-ca">Hills Plaza Garage:</a> Open 6am-11pm M-F, 11am-11pm Sa-Su
            Near 345 Spear Google office. Entrance is on Folsom before Embarcadero.
              </li>
              <li>
                <a href="https://www.parkme.com/lot/28347/75-howard-garage-san-francisco-ca">75 Howard Garage:</a> Open 5am-11pm M-F, 830am-6pm Sa, 930am-6pm Su
              </li>
              <li>
                You can also find parking using these apps: SpotHero, Parking Panda, ParkMe, ParkWhiz
              </li>
            </ul>
            
          </p>
        <a name="reg-4" class="link-padding">&nbsp;</a>
          <h4>
            Where is the conference located?
          </h4>
          <p>
            <a href="https://www.google.com/maps/place/Galvanize+-+San+Francisco+(SoMa)/@37.787613,-122.396638,15z/data=!4m2!3m1!1s0x0:0x3cfc91016a294580?sa=X&ved=0ahUKEwjbu9Hc3sfZAhVY3GMKHcIRBrIQ_BIItAEwCg">Galvanize </a><br>
            44 Tehama St <br>
            San Francisco, CA 94105
          </p>
        <a name="reg-5" class="link-padding">&nbsp;</a>
          <h4>
            What is the ticket price?
          </h4>
          <p>
            Early Bird Tickets are $25, General Tickets are $35. Tickets can be purchased <a href="https://www.eventbrite.com/e/iwd-celebrating-women-in-tech-tickets-42215850746" target="_blank">here</a>. 
          </p>
        <a name="reg-6" class="link-padding">&nbsp;</a>
          <h4>
            Who is attending, how many people are attending?
          </h4>
          <p>
            Developers, Product Managers, People in Sales, Finance, Operations and tech enthusiasts who are powered by a shared belief that when we come together to exchange ideas amazing things can happen. Due to our venue, we are limited to 200 attendees. 
          </p>
        <a name="reg-7" class="link-padding">&nbsp;</a>
          <h4>
            What is a Day-of Volunteer?
          </h4>
          <p>
            We have day-of volunteer opportunities where you can be part of either the set up, lunch or break down teams. Day-of volunteers receive a free ticket. We have closed the application for Day-of Volunteers (we have all our slots filled). <!--  <a href="https://docs.google.com/forms/d/e/1FAIpQLSf2r0FPBqAA4eHmTmEY7mDCJYAPZW2GYtXbvUB01_hfpw0-Wg/viewform" target="_blank">here</a>.  -->
          </p>
        <a name="reg-8" class="link-padding">&nbsp;</a>
          <h4>
            How can I stay connected? How can I share this event to others?
          </h4>
          <p>
            We have several mediums that we are communicating out any update:
            <ul>
              <li>
                <a href="https://www.meetup.com/google-developer-group-san-francisco/events/246594264/" target="_blank">Meetup</a>
              </li>
              <li>
                <a href="https://www.facebook.com/events/823759217822267/" target="_blank">Facebook</a>
              </li>
              <li>
                <a href="https://twitter.com/sf_gdg" target="_blank">Twitter</a>
              </li>
              <li>
                <a href="https://tinyletter.com/IWD_SF" target="_blank">Tiny Letter</a>
              </li>
            </ul>
          </p>
        <a name="reg-9" class="link-padding">&nbsp;</a>
          <h4>
            What is the refund policy?
          </h4>
          <p>
            Refunds up to 7 days before event via eventbrite. Information on how <a href="https://www.eventbrite.com/support/articles/en_US/How_To/can-i-get-a-refund?lg=en_US" target="_blank">here</a>.
          </p>
        <a name="reg-10" class="link-padding">&nbsp;</a>
          <h4>
            Will there be a mother's room?
          </h4>
          <p>
            Yes, it's located on the 3rd floor.
          </p>
      </div>
    </div>
  </div>

  <!-- YOUTH -->
<div class="container green faq-case">
    <div class="row">
      <div class="col">
        <a name="youth-0" class="link-padding">&nbsp;</a>
          <h4>
            How can I get a ticket for my Middle or High School child?
          </h4>
          <p>
            When you purchase your ticket, select <strong>"YES"</strong> on the <i>Would you be interested in having your Middle/High School child attend our Youth track?</i> question. An email will be sent to you with a link that will allow you to get your child a ticket and the Permission Form normally within 24hrs.
          </p>
          <p>
            If you do not receive an email, please email us at <a href="mailto:san.francisco.gdg@gmail.com">san.francisco.gdg@gmail.com</a>
          </p>
        <a name="youth-1" class="link-padding">&nbsp;</a>
          <h4>
            How much a youth tickets? How many youth ticket are available? 
          </h4>
          <p>
            Youth tickets are free. We only have 20 youth tickets available due to our limited space. 
          </p>
        <a name="youth-2" class="link-padding">&nbsp;</a>
          <h4>
            Can I drop off my child for the youth track?
          </h4>
          <p>
            No. The Parent/Guardian must be in the facility, Galvanize, 44 Tehama St San Francisco, CA 94105, while the child is participating - parent/guardian cannot drop off youth and leave the event. 
          </p>
        <a name="youth-3" class="link-padding">&nbsp;</a>
          <h4>
            Where is the Youth permission form?
          </h4>
          <p>
            We'll need the Youth permission form completed for each child. You can find it <a href="/show/permission-form">here</a>. 
          </p>
        <a name="youth-4" class="link-padding">&nbsp;</a>
          <h4>
            How many youth tickets are there?
          </h4>
          <p>
            We have a limited number of tickets: 20. Tickets are on a first come first serve.  
          </p>
        <a name="youth-5" class="link-padding">&nbsp;</a>
          <h4>
            What is the youth curriculum?
          </h4>
          <p>
            <strong>Computer Coding Bootcamp</strong><br>
            <emphasis> Taught and sponsored by <a href="http://www.bytes4bits.org">Bytes for Bits</a></emphasis><br><br>
            In this interactive session, participants will dive into the fundamentals of software coding. We will use Scratch, a visual coding tool, and Code Combat, a beginner-friendly introduction of Python. <br><br>
            The workshop will begin with base concepts, followed by interactive projects to test participants’ new skills and creativity. In this fun and inspirational environment, participants will walk away with the confidence and knowledge to build something on their own! The curriculum is modular, so participants of all skill levels can progress at their own pace with the assistance of our three Bytes for Bit instructors. <br><br>
            <strong>Building Apps with MIT AppInventor and Design Thinking</strong><br>
            <emphasis>Taught and sponsored by <a href="https://girlswhocode.com/">Girls Who Code</a> club of <a href="https://www.siprep.org/page.cfm?p=1">St. Ignatius College Preparatory</a></emphasis><br><br>
            In this this hands-on workshop, we will use MIT AppInventor, a visual programming tool, to build smartphone and tablet apps. We will cover everything from tinkering with sound and text, to designing characters and movements. Participants will walk away with working prototypes of their apps! <br><br>
            We will also cover design thinking, a creative framework that teaches participants to ideate empathetically, think fiercely, and bring their ideas to life. We will practice brainstorming, prototyping, and exchanging feedback with the class. This fun and creative workshop will inspire participants of all skill levels. 
          </p>
        </div>
      </div>
    </div>


<!-- SPONSORS -->
<div class="container blue faq-case">
    <div class="row">
      <div class="col">

        <a name="spon-1" class="link-padding">&nbsp;</a>
          <h4>
            How can my company become a sponsor?
          </h4>
          <p>
            We have a <a href="/show/sponsorship-pdf/">Sponsorship Doc</a> that list out our Sponsorship information. Contact us at gdg.san.francisco@gmail.com
          </p>
      </div>
    </div>
  </div>
  


  <div class="container">
    <div class="row">
    </div>
  </div>









{% endblock %}