{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block content %}
    <div class="container-fluid background-img">
      <h1 id="title">
        <span class="text-darker"> International Women's Day: </span><br>
        Celebrating Women in Tech
      </h1>
      <div class="card center-text center-block homepage-card">
        <div class="card-block">
          <p class="center-text card-text center-text">
            IWD is a large, community-run event that offers speaker sessions on Technology and
            Professional & Personal Development. It is an event that is targeted at developers and
            technologist who are powered by a shared belief that when developers and tech enthusiasts come together
            to exchange ideas amazing things can happen. The speakers will be women and
            non-binary people in tech who want to inspire, educate and connect!
          </p>
          <h3>
            Saturday, March 17, 2018 
          </h3>
          <h4>
            Google Launch Pad in San Fransisco 
          </h4>
          <p class="center-text card-text">
            Want to speak at our event? Submit your Speaking Proposal by Sat. January 13, 2018 at midnight
          </p>
          <a target="_blank" href="http://bit.ly/iwd17-speakercall">
            <button type="button" class="btn btn-primary btn-lg" >Call for Papers</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container blue-banner text-darker">
    <div class="row">
      <div class="col-md col-xs-12">
        <p class="center-text">
          March 17, 2018 <br>
          Registration: 8:30am - 9:30am <br>
          Talks: 9:30am - 5:00pm <br>
        </p>
      </div>
      <div class="col-md col-xs-12">
        <p class="center-text">
          <strong><a href="https://www.google.com/maps?q=google+launchpad&um=1&ie=UTF-8&sa=X&ved=0ahUKEwjfm5-DmsDYAhUX4mMKHRBBDM4Q_AUICygC">Google Launch Pad </a></strong><br>
          301 Howard St, 4th floor <br>
          San Francisco, CA 94105
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="center-text">
          Speaker List & <br>
          Tickets coming out soon!
        </h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="map">
      <!-- Map lives here -->
    </div>
  </div>
  </div>


{% endblock %}