{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block content %}
    <div class="container-fluid background-img">
      <h1 id="title">
        Celebrating Women in Tech
      </h1>
<p class="center-text">
            IWD is a large, community-run event that offers speaker sessions on Technology and
            Professional & Personal Development. It is an event that is targeted at developers and
            tech enthusiasts who are powered by a shared belief that when we come together
            to exchange ideas amazing things can happen. The speakers will be women and
            non-binary people in tech who want to inspire, educate and connect!
          </p>
      <div class="card center-text center-block homepage-card">
        <div class="card-block">

          <h3>
            Saturday, March 17, 2018
          </h3>
          <h4>
            Google LaunchPad in San Francisco
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container blue-banner text-darker">
    <div class="row">
      <div class="col-md col-xs-12">
        <p class="center-text">
          March 17, 2018 <br>
          Registration: 8:30am - 9:30am <br>
          Talks: 9:30am - 5:00pm <br>
        </p>
      </div>
      <div class="col-md col-xs-12">
        <p class="center-text">
          <strong><a href="https://www.google.com/maps?q=google+launchpad&um=1&ie=UTF-8&sa=X&ved=0ahUKEwjfm5-DmsDYAhUX4mMKHRBBDM4Q_AUICygC">Google LaunchPad </a></strong><br>
          301 Howard St, 4th floor <br>
          San Francisco, CA 94105
        </p>
      </div>
    </div>
      <div class="card center-text center-block homepage-card">
        <div class="card-block">
          <p class="center-text card-text center-text">
            <h4 class="center-text">
              Speaker List & <br>
              Tickets coming out soon!
            </h4>
            <form style="text-align:center;" action="https://tinyletter.com/IWD_SF" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/IWD_SF', 'popupwindow');return true"><p><label for="tlemail">Enter your email address for updates:</label></p><input type="text" style="width:140px" name="email" id="tlemail" /><input type="hidden" value="1" name="embed"/><span></span><input class="btn btn-info" type="submit" value="Subscribe" /></form>
          </div>
        </div>
      </div>
      <div class="col">

      </div>
    </div>
  </div>

  <!-- Highlight Speakers -->
  <!-- <div class="container blue-banner text-darker">
    <div class="row">
      <div class="col-md-1"></div>
      {% for speaker in random_speakers %}
        <div class="center-text col-md-4 col-lg">
          <a href="/speakers#{{ speaker.first_name }}{{ speaker.last_name }}">
            <img class="img-thumbnail random-speaker" src= "{{ speaker.personal_info["photo"] }}" alt="{{ speaker.first_name }} {{ speaker.last_name }}">
          <h6>
            {{ speaker.first_name }} {{ speaker.last_name }} <br>
            {{ speaker.professional_info['profession'] }} <br>
            {{ speaker.professional_info['empolyeer'] }}
          </h6>
          </a>
        </div>
      {% endfor %}
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col">
        <a href="/speakers">
          <h5 class="center-text">
            VIEW ALL SPEAKERS
          </h5>
        </a>
      </div>
    </div>
  </div> -->
</div>




{% endblock %}
