{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block content %}

  <div class="row background-img">
    <div class="container text-center">
      <img src="static/imgs/assests/iwd-transparent.png"  class="img-fluid img-responsive logo-format center-block" alt="Responsive image">
    </div>

    <div class="container pull-up">
      <div class="card center-text center-block">
        <div class="card-block">
          <h4 class="card-title center-text">Celebrating Women in Tech</h4>
          <p class="center-text card-text center-text">
            Come learn from amazing women and non-binary folks in tech, be inspired, and connect with others. 
          </p>
          <p>
            The event will be in brilliant San Fransisco. 
          </p>
          
          <p class="center-text card-text ">
            Save the date March 17, 2018
            <a target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&text=Tentative+IWD&details=Celebrating+Women+in+Tech%3A+Come+learn+from+amazing+women+in+tech%2C+be+inspired%2C+and+connect+with+others+in+San+Francisco.%0ACheck+for+updated+information+at%3A+https%3A%2F%2Fwatchful-force-155207.appspot.com%2F&dates=20180317T160000Z%2F20180317T230000Z"><i class="fa fa-calendar" aria-hidden="true"></i></a>
          </p>
          <p class="center-text card-text">
            Want to speak at our event? Summit your Speaking Proposal by Sat. January 12, 2018
          </p>
          <a target="_blank" href="http://bit.ly/iwd17-speakercall">
            <button type="button" class="btn btn-primary btn-lg" >Call for Papers</button>
          </a>
        </div>
      </div>
    </div>
  </div> <!-- closes row -->
  <!-- <div class="row">
    <div class="container">
      <div class="card support-card">
        <div class="card-block">
          <h4 class="card-title center-text">International Women's Day</h4>
          <p class="center-text card-text center-text">
            International Women's Day (March 8) is a global day celebrating the social, economic, cultural and political achievements of women. The day also marks a call to action for accelerating gender parity.
          </p>
        </div>
      </div>
    </div>
  </div> -->

{% endblock %}