{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block content %}

<div>
  <div class="row center">
    <h1 class="center subheadings">
      Planning Committee
    </h1>
  </div>
</div>

  <div class="row">
    <div class="container">
      <div class="col">
        <p>
          We are a group of volunteers who have come together to organize, share resources and organize International Women's Day: Celebrating Women in Tech event. This event is powered by <a href="https://www.meetup.com/google-developer-group-san-francisco/">GDG San Francisco</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="card-deck center-text">

      {% for speaker in organizers_data %}
      <div class="col-10 col-md-4 col-lg-3 card-pad">
        <div class="card center-text {{ speaker.color}}">
          <img class="card-img-top speaker-photo" src= "{{ speaker.personal_info["photo"] }}" alt="{{ speaker.first_name }} {{ speaker.last_name }}">
          <div class="card-block">
            <h4 class="card-title">{{ speaker.first_name }} {{ speaker.last_name }}</h4>
            <p class="card-text session">
              {{ speaker.professional_info["profession"] }} </br>
              {{ speaker.professional_info["empolyeer"] }}
            </p>
            <p class="card-text session font-weight-bold">
              {{ speaker.committee_info["gdg_role"] }} 
            </p>
            <p class="card-text session font-weight-bold">
              {{ speaker.committee_info["gdg_name"] }}
            </p>
            <p class="card-text session">
              {% if speaker.social_media.get("twitter") %}
                <a href="https://twitter.com/{{ speaker.social_media.get("twitter") }}" target="_blank">
                  <i class="fa fa-twitter"></i></a>&nbsp;
              {% endif %}

              {% if speaker.social_media.get("linkedin") %}
                <a href="{{ speaker.social_media.get("linkedin") }}" target="_blank">
                  <i class="fa fa-linkedin"></i></a>&nbsp;
              {% endif %}

              {% if speaker.social_media.get("facebook") %}
                <a href="{{ speaker.social_media.get("facebook") }}" target="_blank">
                  <i class="fa fa-facebook"></i></a>&nbsp;
              {% endif %}

              {% if speaker.social_media.get("google_plus") %}
                <a href="{{ speaker.social_media.get("google_plus") }}" target="_blank">
                  <i class="fa fa-google-plus"></i></a>&nbsp;
              {% endif %}

              {% if speaker.social_media.get("website") %}
                <a href="{{ speaker.social_media.get("website") }}" target="_blank">
                  <i class="fa fa-laptop"></i></a>&nbsp;
              {% endif %}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}

      </div>
  </div>
</div>










{% endblock %}