{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block content %}


<div class="container padding-top">
  <div class="row center center-text">
    <h1 class="center-text fancy-font-header">
      International Women's Day: Celebrating Women in Tech 2018
    </h1>
    <p class="center-text">
      Our first International Women's Day event was on March 17, 2018 at Galvanize in San Francisco. We had 202 attendees who enjoyed 18 Sessions on 3 Tracks on Technology and Professional & Personal Development.
    </p>
  </div>
  <div class="row center">
    <div class="col-12">
      <h5>
        Attendee Demographics: 
      </h5>
      <ul>
        <li>
          Preferred Pronoun
          <ul>
            <li>
              She | 86%
            </li>
            <li>
              They | 3%
            </li>
            <li>
              He | 11%
            </li>
          </ul>
        </li>
        <li>
          Cultural/Ethnic Identity
          <ul>
            <li>
              American Indian or Alaska Native | 2%
            </li>
            <li>
              Asian / Pacific Islander | 52%
            </li>
            <li>
              Black or African American | 4%
            </li>
            <li>
              Latinx | 12%
            </li>
            <li>
              White / Caucasian | 30%
            </li>
          </ul>
        </li>
        <li>
          70% Developer or Engineer in job title
        </li>
      </ul>
    </div>
    <!-- <div class="col-12">
      <h5>
        18 Sessions, 3 Tracks on Technology and Professional & Personal Development
      </h5>
      <ul>
        {% for speaker in speaker_data %}
        <li>
          {{ speaker.talk.title}} <em>by: {{ speaker.first_name}} {{ speaker.last_name }}</em>
        </li>
        {% endfor %}
        <li>
          Breaking into Emerging Tech <em>with:  Brittany Mennuti and Alexandra Sofen and Kelly Schaefer</em>
        </li>
      </ul>
    </div> -->
  </div>
  <div class="center-text padding-bmt">
    <h4>Please add your photos to our album!</h4>
    <div class="mx-auto text-center ticket-nav">
          <a class="get-tickets" target="_blank" href="https://photos.app.goo.gl/KBYb0KJh5wjM7wf62">Here
          </a>
    </div>
  </div>
</div>
<div class="container-fuild">
  <div class="row">
    <div class="col">
      <iframe src="https://albumizr.com/a/5naq" scrolling="no" frameborder="0" allowfullscreen width="800" height="500"></iframe>
    </div>
  </div>
</div>










{% endblock %}