{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block content %}

<div class="schedule-background">
  <div class="row">
    <div class="container page-space">
      <h1 class="center subheadings">
        Schedule
      </h1>
    </div>
  </div>
</div>

<div class="container-fuild grey-banner text-darker">
  <div class="row padding-b" data-toggle="buttons">
      <div class="col center-text offset-md-1">
        <a href="#" class="filter_link homepage-pop" data-filter="Technology"><label class="btn btn-primary">
          <input type="checkbox" autocomplete="off"> <i class="fa fa-laptop" aria-hidden="true"></i> Technology Session 
        </label></a>
      </div>
      <div class="col center-text">
        <a href="#" class="filter_link homepage-pop" data-filter="Professional"><label class="btn btn-primary">
          <input type="checkbox" autocomplete="off"> <i class="fa fa-briefcase" aria-hidden="true"></i> Professional/ Personal Session
        </label></a>
      </div>
      <div class="col center-text">
        <a href="#" class="filter_link homepage-pop" data-filter="Youth"><label class="btn btn-primary">
          <input type="checkbox" autocomplete="off"> <i class="fa fa-users" aria-hidden="true"></i> Youth Session 
        </label></a>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="container text-center padding-b">
  <div class="row row-padding">
    <div class="col d-none d-sm-block schedule-session dark-blue schedule-title">
      Times
    </div>
    {% for track_name in track_names %}
      <div class="col schedule-session {{ schedule_color[track_name] }} schedule-title">
        {{ track_name }}
      </div>
    {% endfor %}
  </div>
  {% for session_num in range_session_times %}
    <div class="row row-padding">
      <div class="col-md schedule-session dark-blue">
        {{ session_times[session_num] }}
      </div>
      {% for track in track_names %}
        <div class="col-md schedule-session {{ schedule_color[track] }} {% if talks[track][session_num] not in range_session_times %} {% if talks[track][session_num].category %} schedule-talks {{ talks[track][session_num].category }}{% endif %} {% endif %}">
          {% if talks[track][session_num] not in range_session_times %}
            <p class="session-title session">
              {{ talks[track][session_num].title }}
            <!-- Category Icons -->
            {% if talks[track][session_num].category  == "Technology" %}
              <i class="fa fa-laptop" aria-hidden="true"></i>
            {% endif %}
            {% if talks[track][session_num].category  == "Youth" %}
              <i class="fa fa-users" aria-hidden="true"></i>
            {% endif %}
            {% if talks[track][session_num].category  == "Professional" %}
              <i class="fa fa-briefcase" aria-hidden="true"></i>
            {% endif %}
            </p>
            <p class="session">
              {{ talks[track][session_num].description|truncate(70) }}
            </p>
            {% if talks[track][session_num].speaker %}
              <p class="session session-speaker">
                By: {{ talks[track][session_num].speaker.first_name }} {{ talks[track][session_num].speaker.last_name }}
              </p>

            <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary btn-sm btn-offset" data-toggle="modal" data-target="#{{ talks[track][session_num].speaker.last_name }}">
                More info
              </button>
              <a class="pull-right" target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&text={{ talks[track][session_num].title }}&details={{ talks[track][session_num].description }}%0D%0ABy: {{ talks[track][session_num].speaker.first_name }} {{ talks[track][session_num].speaker.last_name }}%0D%0A{{ talks[track][session_num].speaker.personal_info['bio'] }}&location={{ talks[track][session_num].slot['track_name'] }}&dates={{ talks[track][session_num].slot['calendar_datetime'] }}"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></a>

            
              <!-- Modal -->
              <div class="modal fade" id="{{ talks[track][session_num].speaker.last_name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="exampleModalLongTitle">
                        {{ talks[track][session_num].title }}</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body center-text">
                      {{ talks[track][session_num].description }}
                    </div>
                    <div class="modal-body center-text">
                      By: 
                      <a href="/speakers#{{ talks[track][session_num].speaker.first_name }}{{ talks[track][session_num].speaker.last_name }}">
                      {{ talks[track][session_num].speaker.first_name }} {{ talks[track][session_num].speaker.last_name }}</a> <br>
                      
                      {% if talks[track][session_num].speaker.professional_info['profession'] %}
                        {{ talks[track][session_num].speaker.professional_info['profession'] }} at {{ talks[track][session_num].speaker.professional_info['empolyeer'] }}
                      {% endif %}
                    </div>
                    <div class="card-footer">
                      <small>At {{ talks[track][session_num].slot['time'] }} in {{ talks[track][session_num].slot['track_name'] }}
                      </small>
                    </div>
                    <!-- <img class="card-img-bottom rounded-circle" src= "{{ talks[track][session_num].speaker.personal_info["photo"] }}" alt="{{ talks[track][session_num].speaker.first_name }} {{ talks[track][session_num].speaker.last_name }}"> -->
                    </div>
                  </div>
                </div>
          {% else %}
                <p></p>
          {% endif %}
  <!-- Workaround -->
          {% if talks[track][session_num].workaroundid %}
              <p class="session session-speaker">
                Panel: 
                {% for speaker in talks[track][session_num].speakers %}
                  {{ speaker.first_name }} {{ speaker.last_name }} <br>
                {% endfor %}
              </p>

            <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary btn-sm btn-offset" data-toggle="modal" data-target="#{{ talks[track][session_num].speakers[0].last_name }}">
                More info
              </button>
              <a class="pull-right" target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&text={{ talks[track][session_num].title }}&details={{ talks[track][session_num].description }}%0D%0ABy: {{ talks[track][session_num].speakers[0].first_name }} {{ talks[track][session_num].speakers[0].last_name }}%0D%0A{{ talks[track][session_num].speakers[0].personal_info['bio'] }}&location={{ talks[track][session_num].slot['track_name'] }}&dates={{ talks[track][session_num].slot['calendar_datetime'] }}"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></a>

              <!-- Modal -->
              <div class="modal fade" id="{{ talks[track][session_num].speakers[0].last_name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="exampleModalLongTitle">
                        {{ talks[track][session_num].title }}</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body center-text">
                      {{ talks[track][session_num].description }}
                    </div>
                    <div class="modal-body center-text">
                      Panel: 
                      {% for speaker in talks[track][session_num].speakers %}
                        <a href="/speakers#{{ speaker.first_name }}{{ speaker.last_name }} ">
                        {{ speaker.first_name }} {{ speaker.last_name }}</a> <br>
                      {% endfor %}
                      
                      {% if talks[track][session_num].speakers[0].professional_info['profession'] %}
                        {{ talks[track][session_num].speakers[0].professional_info['profession'] }}s at {{ talks[track][session_num].speakers[0].professional_info['empolyeer'] }}
                      {% endif %}
                    </div>
                    <div class="card-footer">
                      <small>At {{ talks[track][session_num].slot['time'] }} in {{ talks[track][session_num].slot['track_name'] }}
                      </small>
                    </div>
                    </div>
                  </div>
                </div>
          {% else %}
                <p></p>
          {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<div class="row">
    <div class="col">
      <h6 class="center-text">
        *Talks & Schedule are subjected to change
      </h6>
    </div>
  </div>


<button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>


<script
  src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script src="/static/js/filtering.js"></script>



{% endblock %}