{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}

<div class="speaker-background">
  <div class="row">
    <div class="container page-space ">
      <h1 class="center subheadings" id="speakersHeadingWhite">
        Speakers
      </h1>
    </div>
  </div>
</div>

  <div class="row">
    <div class="container">
      <div class="card-deck">

      {% for speaker in speaker_data %}
      <div class="col-md-6 col-lg-4 card-pad" id="{{ speaker.first_name }}{{ speaker.last_name }}">
        <div class="card speaker-card center-text">
          <img class="card-img-top speaker-photo" src= "{{ speaker.personal_info["photo"] }}" alt="{{ speaker.first_name }} {{ speaker.last_name }}">
          <div class="card-block">
            <h4 class="card-title">{{ speaker.first_name }} {{ speaker.last_name }}</h4>
            <p class="card-text session">
              {{ speaker.professional_info["profession"] }} 
            </br>
              {{ speaker.professional_info["empolyeer"] }}
            </p>

              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ speaker.last_name }}">
                More info
              </button>

              <!-- Modal -->
              <div class="modal fade" id="{{ speaker.last_name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">{{ speaker.first_name }} {{ speaker.last_name }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <img class="card-img-top rounded-circle speaker-modal" src= "{{ speaker.personal_info["photo"] }}" alt="{{ speaker.first_name }} {{ speaker.last_name }}">
                    <div class="modal-body center-text">
                      {{ speaker.personal_info["bio"] }}
                    </div>
                     <div class="modal-body center-text"> Talk:
                      {% if speaker.talk.workaroundid %}
                        <a href="/talks#vrpanel">
                          Breaking into Emerging Tech
                        </a>
                      {% else %}
                        <a href="/talks#{{ speaker.first_name }}{{ speaker.last_name }}">
                          {{ speaker.talk.title }}
                        </a>
                      {% endif %}
                    </div>
                    <div class="modal-footer center">
                      {% if speaker.social_media.get("twitter") %}
                        <a href="https://twitter.com/{{ speaker.social_media.get("twitter") }}" target="_blank">
                          <i class="fa fa-twitter"></i></a>&nbsp;
                      {% endif %}

                      {% if speaker.social_media.get("linkedin") %}
                        <a href="{{ speaker.social_media.get("linkedin") }}" target="_blank">
                          <i class="fa fa-linkedin"></i></a>&nbsp;
                      {% endif %}

                      {% if speaker.social_media.get("facebook") %}
                        <a href="{{ speaker.social_media.get("facebook") }}" target="_blank">
                          <i class="fa fa-facebook"></i></a>&nbsp;
                      {% endif %}

                      {% if speaker.social_media.get("google_plus") %}
                        <a href="{{ speaker.social_media.get("google_plus") }}" target="_blank">
                          <i class="fa fa-google-plus"></i></a>&nbsp;
                      {% endif %}

                      {% if speaker.social_media.get("website") %}
                        <a href="{{ speaker.social_media.get("website") }}" target="_blank">
                          <i class="fa fa-laptop"></i></a>&nbsp;
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>


          </div>
        </div>
      </div>
      {% endfor %}

      </div>
  </div>
</div>










{% endblock %}