{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block content %}

  <div class="container text-darker">
    <div class="row center-text">
      <div class="col-md-4">
        <h4>
          Powered by:
        </h4>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <!-- Platinum -->
      <div class="col-xs-12 col-md-4 center">
        <a href="https://www.meetup.com/google-developer-group-san-francisco/">
          <img src="/static/imgs/sponsor/gdg-logo.png" class="img-fluid img-responsive" alt="San Francisco Google Developer Group">
        </a>
      </div>
      <div class="col-xs-12 col-md-4 center">
        <a href="https://developers.google.com/">
          <img src="/static/imgs/sponsor/google-logo.png" class="img-fluid img-responsive" alt="Google Developer Group">
        </a>
      </div>
      <div class="col-xs-12 col-md-6 center">
        <a href="https://www.womentechmakers.com/">
          <img src="/static/imgs/sponsor/WT_logo_horizontal_pos.png" class="img-fluid img-responsive" alt="Women Techmakers Logo">
        </a>
      </div>
    </div>
    
<!-- Silver -->
    <div class="row justify-content-md-center">
      <div class="col center-text">
        <h5 class="sponsor-title">
          Silver Sponsor
        </h5>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-8 col-md-4 center">
        <a href="https://www.clover.com/">
          <img src="/static/imgs/sponsor/clover.png" class="img-fluid img-responsive" alt="Kapor Center logo">
        </a>
      </div>
    </div>

<!-- Partner -->
    <div class="row justify-content-md-center">
      <div class="col center-text">
        <h5 class="sponsor-title">
          Partner Sponsor
        </h5>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-5 col-md-3 center kapor-margin">
        <a href="https://www.kaporcenter.org/">
          <img src="/static/imgs/sponsor/kapor-center.png" class="img-fluid img-responsive" alt="Kapor Center logo">
        </a>
      </div>
      <div class="col-5 col-md-3 center">
        <a href="https://www.carbonfive.com/">
          <img src="static/imgs/sponsor/carbon-five.png" class="img-fluid img-responsive" alt="Carbon Five logo">
        </a>
      </div>
      <div class="col-5 col-md-3 center">
        <a href="https://www.twilio.com/">
          <img src="/static/imgs/sponsor/twilio.png" class="img-fluid img-responsive" alt="Twilio logo">
        </a>
      </div>
    </div>

<!-- Local -->
    <div class="row justify-content-md-center">
      <div class="col center-text">
        <h5 class="sponsor-title">
          Local Sponsor
        </h5>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-3 col-md-2 center">
        <a href="https://www.jetbrains.com/">
          <img src="/static/imgs/sponsor/jetbrains.png" class="img-fluid img-responsive partner-sponsor" alt="Jetbrains logo">
        </a>
      </div>
      <div class="col-3 col-md-2 center">
        <a href="https://www.interviewcake.com/">
          <img src="/static/imgs/sponsor/interview_cake_logo.png" class="img-fluid img-responsive" alt="Interview Cake logo">
        </a>
      </div>
      <div class="col-3 col-md-2 center">
        <a href="https://www.godaddy.com/">
          <img src="/static/imgs/sponsor/GoDaddy_Wordmark_RGB_B.png" class="img-fluid img-responsive" alt="Go Daddy logo">
        </a>
      </div>
      <div class="col-3 col-md-2 center">
        <a href="https://balsamiq.com/">
          <img src="/static/imgs/sponsor/balsamiq.png " class="img-fluid img-responsive" alt="Girl Develope It logo">
        </a>
      </div>
    </div>


<!-- Community Supporters -->
    <!-- <div class="row justify-content-md-center">
      <div class="col center-text">
        <h5 class="sponsor-title">
          Community Supporters
        </h5>
      </div>
    </div>
      <div class="col-6 col-md-2 center">
        <a href="https://balsamiq.com/">
          <img src="/static/imgs/sponsor/balsamiq.png " class="img-fluid img-responsive" alt="Girl Develope It logo">
        </a>
      </div>
    </div> -->

  </div>

  <!-- Footer -->
  <div class="container-fluid footer center footer-padding center-block footer-color" >
    <div class="row justify-content-md-center center-text">
      <div class="col-md-2">
        <a href="mailto:san.francisco.gdg@gmail.com">
          Contact Us
        </a>
      </div>
      <div class="col-md-2">
        <a href="/organizers">
          About Us
        </a>
      </div>
      <div class="col-md-2">
        <a href="/faq">
          FAQs
        </a>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-3 center-text">
        <a href="https://www.facebook.com/GDG-San-Francisco-255765098278407/">
          <i class="fa fa-facebook-f"></i></a>&nbsp;
        <a href="https://twitter.com/sf_gdg">
          <i class="fa fa-twitter"></i></a>&nbsp;
        <a href="https://www.linkedin.com/company/gdg-san-francisco/">
          <i class="fa fa-linkedin"></i></a>&nbsp;
        <a href="https://plus.google.com/u/0/101175849082211460775">
          <i class="fa fa-google-plus"></i></a>
      </div>
  </div>

{% endblock %}