{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}

<div class="talk-background">
  <div class="row">
    <div class="container page-space ">
      <h1 class="center subheadings" id="talkHeadingWhite">
        Talks
      </h1>
    </div>
  </div>
</div>

<div class="container-fuild grey-banner text-darker">
  <div class="row padding-b" data-toggle="buttons">
      <div class="col center-text offset-md-1">
        <a href="#" class="filter_link homepage-pop" data-filter="Technology"><label class="btn btn-primary">
          <input type="checkbox" autocomplete="off"> <i class="fa fa-laptop" aria-hidden="true"></i> Technology Session 
        </label></a>
      </div>
      <div class="col center-text">
        <a href="#" class="filter_link homepage-pop" data-filter="Professional"><label class="btn btn-primary">
          <input type="checkbox" autocomplete="off"> <i class="fa fa-briefcase" aria-hidden="true"></i> Professional/ Personal Session
        </label></a>
      </div>
      <div class="col center-text">
        <a href="#" class="filter_link homepage-pop" data-filter="Youth"><label class="btn btn-primary">
          <input type="checkbox" autocomplete="off"> <i class="fa fa-users" aria-hidden="true"></i> Youth Session 
        </label></a>
      </div>
    </div>
    <div class="col-md-1"></div>
</div>

  <div class="row">
    <div class="container">
      <div class="card-deck">

      {% for speaker in speaker_data %}
      <div id="{{ speaker.first_name }}{{ speaker.last_name }}"></div>
      <div class="col-md-6 col-lg-4 link-card-pad">
        <div class="card center-text">
          <div class="card-block {{ speaker.talk.color}} {{ speaker.talk.category }}">
            <p class="session-title session">{{ speaker.talk.title }} 
              {% if speaker.talk.category  == "Technology" %}
                <i class="fa fa-laptop" aria-hidden="true"></i>
              {% endif %}
              {% if speaker.talk.category  == "Professional" %}
                <i class="fa fa-briefcase" aria-hidden="true"></i>
              {% endif %} 
            </p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ speaker.last_name }}">
                More info
              </button>

              <!-- Modal -->
              <div class="modal fade" id="{{ speaker.last_name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">{{ speaker.talk.title }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body center-text">
                      {{ speaker.talk.description }} 
                    </div>
                    <div class="modal-footer center">
                      <small>By: <a href="/speakers#{{ speaker.first_name }}{{ speaker.last_name }}">{{ speaker.first_name }} {{ speaker.last_name }}</a>, {{ speaker.professional_info['profession'] }} {{ speaker.professional_info['empolyeer'] }}
                      </small>
                      
                    </div>
                  </div>
                </div>
              </div>


          </div>
        </div>
      </div>
      {% endfor %}
      <!-- VR Talk -->
      <div id="vrpanel"></div>
      <div class="col-md-6 col-lg-4 link-card-pad Professional">
        <div class="card center-text">
          <div class="card-block green-op Professional">
            <p class="session-title session">Breaking into Emerging Tech
                <i class="fa fa-briefcase" aria-hidden="true"></i>
            </p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vrtalk">
                More info
              </button>

              <!-- Modal -->
              <div class="modal fade" id="vrtalk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Breaking into Emerging Tech</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body center-text">
                      Three women describe their paths to working in immersive computing at Google and answer your questions about career, professional development, and being female thought leaders in an emerging industry.
                    </div>
                    <div class="modal-footer center">
                      <small>Panelist: 
                        <a href="/speakers#BrittanyMennuti">Brittany Mennuti</a> and
                        <a href="/speakers#AlexandraSofen">Alexandra Sofen</a> and 
                        <a href="/speakers#KellySchaefer">Kelly Schaefer </a> from DayDream VR Team Google
                      </small>
                      
                    </div>
                  </div>
                </div>
              </div>


          </div>
        </div>
      </div>

      </div>
  </div>
</div>

<button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>



<script
  src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script src="/static/js/filtering.js"></script>



{% endblock %}